day??-?
dist/
dist-newstyle/
*.dyn_hi
*.dyn_o
.ghc.environment.*
.hdevtools.*
.hdevtools.sock
*.hi
*.html
.idea
*.iml
.ipynb_checkpoints/*.ipynb
*.lock
*.o
*.pdf
.stack-work
*.sublime-workspace
.*.swp
tags
threads
*.tix
.vscode
